@font-face {
    font-family: 'Montserrat';
    src: url("./fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

:root{
    --profile-pic-size: 50px;
    --gray: #a2a8d3;
    --dark-blue: #38598b;
    --silver: #e7eaf6;
    --white: #f7f7f7;
    --area-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

*{
    font-family: 'Montserrat', Helvetica, sans-serif;
    box-sizing: border-box;
}

h1,
p{
    margin: 0;
}

/* GENERAL CONTAINER */

.container{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid: 1fr 5fr / 1fr 5fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";
}

.btn{
    cursor: pointer;
}

.btn:active{
    transform: scale(0.95 );
}
/* * * * * * * * * * */

/* HEADER */

.container header{
    position: relative;
    padding: 20px 30px;
    grid-area: header;
    background-color: var(--gray);
    display: grid;
    grid: 1fr 1fr / 3fr 1fr;
    gap: 15px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}

header .search{
    align-self: center;
    display: flex;
    gap: 10px;
    align-items: center;
}

header span{
    font-weight: 600;
}

header img{
    width: 25px;
}

.search input{
    padding: 10px;
    appearance: none;
    width: 90%;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: var(--white);
    font-style: italic;
}

.search input:focus{
    outline: none;
    box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.4);
    border-color: blue;
}

.profile-buttons,
.action-buttons{
    gap: 30px;
}

.profile-buttons{
    align-self: center;
    justify-self: center;
    display: flex;
    align-items: center;
}

.profile-pic{
    height: var(--profile-pic-size);
    width: var(--profile-pic-size);
    min-height: var(--profile-pic-size);
    min-width: var(--profile-pic-size);
    border-radius: 50%;
    background: center / cover no-repeat url("./images/flight.jpeg")
}

.profile-name{
    display: grid;
    grid: 1fr 1fr / 1fr 5fr;
    column-gap: 30px;
    align-items: center;
}

.profile-name .profile-pic{
    grid-row: 1 / 3;
    justify-self: end;
    height: 70px;
    width: 70px;
}

.username{
    font-size: max(15px, 1.5vw);
}

.action-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.action{
    appearance: none;
    width: calc(100% / 3);
    padding: 8px;
    border-radius: 20px;
    border: none;
    background: var(--dark-blue);
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.action:active{
    transform: scale(0.95);
}
/* * * * * */


/* SIDEBAR */
.container .sidebar{
    /* Use position relative if the box shadow of a grid element is not being applied to the whole
    element */
    position: relative;
    grid-area: sidebar;
    background-color: var(--dark-blue);
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    color: white;
    box-shadow: 1px 0 1px rgba(0, 0, 0, 0.4);
}

.title{
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.title img{
    width: max(40px, 30%);
    fill: white !important;
}

.title span{
    font-size: max(18px, 1.5vw);
}

.buttons,
.settings{
    display: grid;
    grid-auto-rows: 30px;
    gap: 25px;
}

.buttons{
    margin-bottom: 70px;
}

.option{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 2%;
}

img.btn{
    width: 30px;
}
/* * * * * */


/* MAIN */
.container .main{
    --card-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
    padding: 30px;
    grid-area: main;
    background-color: var(--silver);
    display: grid;
    grid-template-columns: 3.5fr 1fr;
    gap: 30px;
}

.content{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section{
    font-size: 18px;
    font-weight: 500;
    width: fit-content;
}

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

/* Gray indent on card */
.card::before{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background-color: #00BDFF;
    top: 0;
    left: 0;
    border-radius: 10px;
    z-index: -2;
}

.card::after{
    position: absolute;
    content:'';
    height: 100%;
    width: 100%;
    left: 10px;
    border-radius:  0 10px 10px 0;
    background-color: var(--white);
    z-index: -1;
}
/* * * * * * * * * * */

/* CARD */
.card{
    display: grid;
    gap: 15px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    padding: 25px 25px 10px 25px;
    box-shadow: var(--card-box-shadow);
    z-index: 1;
}

.card h1{
    font-size: 18px;
}

.card p{
    font-size: 13px;
}

.card-actions{
    place-self: end;
    display: flex;
    gap: 20px;
    margin-right: -10px;
}
/* * * */


.side-main{
    display: grid;
    max-height: 70vh;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.announcements,
.accounts{
    margin-top: 5px;
    background-color: var(--white);
    display: grid;
    grid-auto-rows: min-content;
    gap: 15px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: var(--card-box-shadow);
    min-width: 200px;
}

.announcement{
    position: relative;
}

.announcement strong{
    font-size: 12px;
}

.announcement p{
    font-size: 10px;
    overflow: ellipsis;
}

.announcement:not(:last-child)::after{
    position: absolute;
    content: '';
    width: 85%;
    height: 1%;
    background-color: gray;
    left: 50%;
    bottom: -5px;
    transform: translate(-50%, 0);
}

.account{
    display: grid;
    grid: min-content min-content / 1fr 4fr;
    grid-template-areas:
    "picture username"
    "picture title";
    column-gap: 10px;
}

.account .profile-pic{
    grid-area: picture;
}

.account .user{
    grid-area: username;
    font-size: 14px;
}

.account .user-title{
    grid-area: title;
    font-size: 12px;
    color:rgba(0, 0, 0, 0.6);
}

.one{
    background-image: url("./images/one.jpeg");
}

.two{
    background-image: url("./images/two.jpg");
}

.three{
    background-image: url("./images/three.jpg");
}

.four{
    background-image: url("./images/four.jpg");
}
/* * * */